@import "navbar.css";
@import "footer.css";
@import "home-text.css";
@import url("https://fonts.googleapis.com/css?family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../docs/japan-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* Slider  Control*/
.slider {
  margin: 0 auto;
  height: 80%;
  width: 50%;
  display: flex;
  border: 2px solid black;
}
.blog-text {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.slider .slide {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.slider .slide:hover{
  flex-grow: 20;
}

.slider .slide:hover .blog-id {
  visibility: hidden;
  opacity: 0;
}

.slider .slide:hover .b-content {
  visibility: visible;
}

/* Slider Images */
.slider .slide:nth-child(1) {
  background: url(../docs/blog-photos/s1.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(2) {
  background: url(../docs/blog-photos/s2.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(3) {
  background: url(../docs/blog-photos/s3.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(4) {
  background: url(../docs/blog-photos/s4.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(5) {
  background: url(../docs/blog-photos/s5.jpg);
  background-position: center center;
  background-size: cover;
}

/* slider Content */
.blog-id {
  position: fixed;
  font-size: 2em;
  font-weight: bold;
  font-family: "Titan One", cursive, sans-serif;
  color: #225165;
  transform: rotate(270deg);
  top: 50%;
  visibility: visible;
  overflow: hidden;
  background-color: aqua;
}



.b-content {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  visibility: hidden;
}

