@import "blog-nav.css";
@import "footer.css";
@import "home-text.css";
@import url("https://fonts.googleapis.com/css?family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c3dfe0;
  scroll-behavior: smooth;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blog List */
.blog-list-container {
  height: 300px;
  width: 300px;
  border: 1px solid yellow;
  background-color: royalblue;
  top: 50%;
  left: 0;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}
.bl-title {
  text-align: center;
  text-decoration: none;
  background-color: salmon;
  border-radius: 3px;
  height: 20px;
  width: 100px;
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
}

.bl-title:hover {
  background-color: blanchedalmond;
}

/* Main Blog Contain */
.blog-content {
  height: 100%;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Blog Controller */
.blog {
  margin-top: 3%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
    -webkit-box-shadow: 10px 9px 88px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 88px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 9px 88px -4px rgba(0,0,0,0.75);
}

.blog-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-text {
  margin: 10px;
  background-color: #8EC5FC;
  background-image: linear-gradient(178deg, #8EC5FC 0%, #E0C3FC 100%);
}

.blog-text p {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}

/* Blog Images */
#img1 {
  background-image: url("../docs/blog-photos/s1.jpg");
  background-position: center;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: yellow;
}

#img2 {
  background-image: url("../docs/blog-photos/s2.jpg");
  background-position: center;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: purple;
}

#img3 {
  background-image: url("../docs/blog-photos/s3.jpg");
  background-position: center;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: red;
}

#img4 {
  background-image: url("../docs/blog-photos/s4.jpg");
  background-position: center;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: blue;
}

#img5 {
  background-image: url("../docs/blog-photos/s5.jpg");
  background-position: center;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: aqua;
}