@import "navbar.css";
@import "footer.css";
@import "home-text.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../docs/japan-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* Slider  Control*/
.slider {
  margin: 0 auto;
  height: 80%;
  width: 50%;
  display: flex;
  border: 2px solid black;
}
.blog-text {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.slider .slide {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.slider .slide:hover{
  flex-grow: 20;
}

.slider .slide:hover .blog-id {
  visibility: hidden;
  overflow: hidden;
}

.slider .slide:hover .b-content {
  visibility: visible;
}

/* Slider Images */
.slider .slide:nth-child(1) {
  background: url(../docs/blog-photos/s1.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(2) {
  background: url(../docs/blog-photos/s2.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(3) {
  background: url(../docs/blog-photos/s3.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(4) {
  background: url(../docs/blog-photos/s4.jpg);
  background-position: center center;
  background-size: cover;
}
.slider .slide:nth-child(5) {
  background: url(../docs/blog-photos/s5.jpg);
  background-position: center center;
  background-size: cover;
}

/* slider Content */
.blog-id {
  position: fixed;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
  transform: rotate(270deg);
  top: 50%;
  margin-left: 10px;
  visibility: visible;
  overflow: hidden;
}

.b-content {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  visibility: hidden;
}

.blog-text h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

#date {
  font-size: 10px;
  color: grey;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

/* Blog list title color */
#bt-1 {
  color: aqua;
}

#bt-2 {
  color: red;
}

#bt-3 {
  color: yellow;
}

#bt-4 {
  color: blue;
}
#bt-5 {
  color: #46CB18;
}

/* blog book title

/* #st-1 {
  color: aqua;
}

#st-2 {
  color: red;
}

#st-3 {
  color: yellow;
}

#st-4 {
  color: blue;
}
#st-5 {
  color: #46CB18;
} */

/* Blog List */
.blog-list-container {
  height: 250px;
  width: 200px;
  top: 20%;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog-list-container h3 {
  font-size: 30px;
  font-weight: bold;
  color: antiquewhite;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

.bl-title {
  background-color: salmon;
  border-radius: 3px;
  height: auto;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: 5px 5px;
  padding: 5px 5px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

.bl-title a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

.bl-title p {
  font-size: 10px;
  color: whitesmoke;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

.bl-title:hover {
  background-color: blanchedalmond;
}