@import "navbar.css";
@import "footer.css";
@import "home-text.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../docs/walking-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}

/* Contact Form */

.container {
  height: 100vh;
  width: 100vw;
}

.contact-container {
  height: 70%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  margin-top: 1em;
  box-shadow: 0, 1px, 1px, black;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Rammetto One', cursive;
}


textarea {
  height: 300px;
  resize: none;
}