@import "navbar.css";
@import "footer.css";
@import "home-text.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../docs/walking-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}

/* Contact Form */

.container {
  height: 100vh;
  width: 100vw;
}

.contact-container {
  height: 70%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.contact-form h1 {
  color: antiquewhite;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

input,
textarea {
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  margin-top: 1em;
  box-shadow: 0, 1px, 1px, black;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
}

.submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#input-submit {
  width: 50%;
  background-color: antiquewhite;
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
}

#input-submit:hover {
  color: aqua;
  transition: 0.8s linear;
  background-color: #225165;
}


textarea {
  height: 300px;
  resize: none;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    height: 70%;
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
}