/* Variables */

* {
  --flip-colour-b: #C3DFE0;
  --flip-colour-f: #94D3AC;
  --main-colour-text: #225165;
}

/* Flip card */
.flip-card {
  background-color: transparent;
  height: 300px;
  width: 300px;
  perspective: 300px;
}

.fc-content {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hover */

.flip-card:hover .fc-content {
  transform: rotateY(180deg);
}


/* Card Position */
.c-front-1, .c-front-2, .c-front-3, .c-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Flip Card Front */
.c-front-1 {
  background-color: var(--flip-colour-f);
  height: 300px;
  background-size: 300px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c1-content {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: url("../docs/project-photos/terminal-app.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
}

.c-front-2 {
  /* background-image: url("../docs/project-photos/terminal-app.png"); */
  background-color: var(--flip-card-fcolor);
  height: 300px;
  background-size: 300px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c2-content {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: url("../docs/project-photos/portfolio.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
}

.c-front-3 {
  /* background-image: url("../docs/project-photos/terminal-app.png"); */
  background-color: var(--flip-colour-f);
  height: 300px;
  background-size: 300px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#c3-content {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: url("../docs/project-photos/comingsoon.png");
  background-size: 90% 90%;
  background-color: bisque;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
}

/* Flip Card Back */
.c-back {
  color: antiquewhite;
  background-color: var(--flip-colour-b);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-back a {
  border: 2px solid wheat;
  background-color: antiquewhite;
  opacity: 0.5;
  text-decoration: none;
  box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 16px -2px rgba(0,0,0,0.75);
}

.c-back h2:hover {
  color: aqua;
  background-color: transparent;
}

.c-back h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-colour-text);
}

.c-back p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--main-colour-text);
  text-align: center;
}