/* Flip card */
.flip-card {
  background-color: transparent;
  height: 300px;
  width: 300px;
  border: 1px solid red;
  perspective: 300px;
}

.fc-content {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hover */

.flip-card:hover .fc-content {
  transform: rotateY(180deg);
}


/* Card Position */
.c-front-1, .c-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.c-front-1 {
  background-image: url("../docs/project-photos/terminal-app.png");
  height: 300px;
  background-size: 300px 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.c-back {
  color: antiquewhite;
  background-color: darkred;
  transform: rotateY(180deg);
}