/* Footer for website */
.footer {
  position: fixed;
  height: 70px;
  width: 95%;
  bottom: 0;
  left: 2%;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-links a {
  padding: 5px 20px;
  font-size: 2em;
  color: whitesmoke;
}

.footer-links a:hover {
  color: aqua;
}

.footer-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-tag a {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-decoration: none;
}

.footer-tag a:hover {
  color: aqua;
  transition: color 1s linear;
}
