@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

.home-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-name h1 {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Rammetto One', cursive;
  font-size: 5em;
  color: antiquewhite;
}
.home-name h2 {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Righteous', cursive;
  font-family: 'Rammetto One', cursive;
  font-size: 2em;
  color: antiquewhite;
}
