@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

.home-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-name h1 {
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: antiquewhite;
}
.home-name h2 {
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: antiquewhite;
}

#resume {
  color: antiquewhite;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
}

#resume:hover {
  color: aqua;
  background-color: #225165;
  transition: color 0.5s linear;
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 800px) {
  .home-name h1 {
    font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: antiquewhite;
  }
  .home-name h2 {
    font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: antiquewhite;
  }
  
}