@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

/* nav bar */

.navbar {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  padding: 20px 20px;
}

.nav-link:hover {
  color: aqua;
}