@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rammetto+One&family=Righteous&display=swap');

/* nav bar */

.navbar {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: wheat;
  font-family: 'Rammetto One', cursive, Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px 20px;
}

.nav-link:hover {
  color: aqua;
  transition: color 0.5s linear;
}
