@import "navbar.css";
@import "footer.css";
@import "home-text.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../docs/melbourne.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
